* {
    box-sizing: border-box;
  }
  img{
      width: 100%;
  }
.navbar-custom{
      background-color: rgb(193, 245, 252);
  }
  a.navbar-brand {
    height: 60px;
    width: 64px;
    display: inline-block;
    padding: 1px 0;
  }
.navbar-right {
    float: right!important;
}
form{
    background-color: rgb(193, 245, 252);
}